@font-face {
  font-family: 'Italianno';
  src: url("fonts/Italianno.ttf.woff") format("woff"), url("fonts/Italianno.ttf.svg#Italianno") format("svg"), url("fonts/Italianno.ttf.eot"), url("fonts/Italianno.ttf"), url("fonts/Italianno.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Garineldo';
  src: url("fonts/Garineldo.woff2") format("woff2"), url("fonts/Garineldo.woff") format("woff"), url("fonts/Garineldo.svg#Garineldo") format("svg"), url("fonts/Garineldo.eot"), url("fonts/Garineldo.ttf"), url("fonts/Garineldo.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
.wedding-center-vertical-horizontal, .wedding-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; }

#wedding-main-container {
  background: #fbffe8;
  background-size: 100%;
  position: relative;
  padding: 0 100px;
  overflow: hidden;
  font-size: 24px; }
  @media (max-width: 767px) {
    #wedding-main-container {
      padding: 0 25px; } }

.wedding-side-decoration, #wedding-left-decoration, #wedding-right-decoration {
  background-image: url("/img/side-decoration.svg");
  background-size: contain;
  height: 100%;
  width: 100px;
  position: absolute; }

#wedding-left-decoration {
  left: 10px; }

#wedding-right-decoration {
  right: 10px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

#wedding-bottom-decoration {
  background-image: url("/img/bottom-decoration.svg");
  background-size: contain;
  width: 358px;
  height: 300px;
  position: absolute;
  left: 50%;
  margin-left: -179px; }

.wedding-no-navbar {
  margin-top: 70px; }

.wedding-section-logo {
  max-width: 100px;
  margin-bottom: 50px; }

.wedding-info-icon {
  width: 32px; }

.wedding-map {
  position: relative;
  border: 0;
  height: 450px;
  width: 450px;
  left: 50%;
  margin-left: -225px; }

.wedding-home {
  background: #70a33c url("/img/wedding-background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.wedding-home-overlay {
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.1;
  top: 0; }
  @media (max-width: 767px) {
    .wedding-home-overlay {
      opacity: 0.3; } }

.wedding-home-content {
  position: relative;
  text-align: center;
  z-index: 200; }

.wedding-logo {
  display: block;
  width: 70vw;
  max-height: 50vh; }

.wedding-home-heading {
  font-family: Italianno;
  font-size: 72px; }

.wedding-home-subheading {
  font-family: Italianno;
  font-size: 42px; }

.wedding-keep-scrolling {
  z-index: 200;
  position: absolute;
  left: 50%;
  bottom: 15px;
  background-color: #fbffe8;
  color: #566900;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari*/
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-animation: float-scroll-pointer 0.7s infinite alternate;
  -moz-animation: float-scroll-pointer 0.7s infinite alternate;
  -o-animation: float-scroll-pointer 0.7s infinite alternate;
  -ms-animation: float-scroll-pointer 0.7s infinite alternate;
  animation: float-scroll-pointer 0.7s infinite alternate; }
  .wedding-keep-scrolling:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px #fbffe8;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent; }

.wedding-login-container {
  padding-top: 30px; }

.wedding-login-label {
  display: block;
  max-width: 600px; }

.wedding-login-input {
  max-width: 200px; }

/*# sourceMappingURL=login.css.map */
