@font-face {
  font-family: 'Just Another Hand';
  font-style: normal;
  font-weight: 400;
  src: local('Just Another Hand'), local('JustAnotherHand-Regular'), url(https://fonts.gstatic.com/s/justanotherhand/v7/fKV8XYuRNNagXr38eqbRfzpTO3zq7FUe5pJUVhf_ntc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.center-vertical-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wedding-home {
  height: 100vh;
  background: #70a33c url('../img/wedding-background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wedding-home-content {
  position: relative;
  text-align: center;
}

@media (max-width: 767px) {
  .wedding-logo {
    max-width: 60vh;
  }
}

@media (min-width: 768px) {
  .wedding-logo {
    max-width: 90vh;
  }
}

.wedding-logo {
  display: block;
}

.wedding-about-us {
  height: 100vh;
  background-color: lightcoral;
}

.font-1 {
  font-family: "Just Another Hand", cursive;
}

.font-large {
  font-size: 56px;
}

.font-medium {
  font-size: 38px;
}

.language-flag {
  max-height: 15px;
  padding-bottom: 3px;
}

.keep-scrolling {
  position: absolute;
  left: 50%;
  bottom: 15px;
  background-color: #205a06;
  color: #d2e97d;
  padding: 10px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari*/
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-animation: float-scroll-pointer 0.7s infinite alternate;
  -moz-animation: float-scroll-pointer 0.7s infinite alternate;
  -o-animation: float-scroll-pointer 0.7s infinite alternate;
  -ms-animation: float-scroll-pointer 0.7s infinite alternate;
  animation: float-scroll-pointer 0.7s infinite alternate;
}

.keep-scrolling:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 10px #205a06;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}


@-moz-keyframes float-scroll-pointer {
  0% {
    -webkit-transform: translate3d(-50%,-5px,0);
    -moz-transform: translate3d(-50%,-5px,0);
    -o-transform: translate3d(-50%,-5px,0);
    -ms-transform: translate3d(-50%,-5px,0);
    transform: translate3d(-50%,-5px,0);
  }

  100% {
    -webkit-transform: translate3d(-50%,5px,0);
    -moz-transform: translate3d(-50%,5px,0);
    -o-transform: translate3d(-50%,5px,0);
    -ms-transform: translate3d(-50%,5px,0);
    transform: translate3d(-50%,5px,0);
  }
}

@-webkit-keyframes float-scroll-pointer {
  0% {
    -webkit-transform: translate3d(-50%,-5px,0);
    -moz-transform: translate3d(-50%,-5px,0);
    -o-transform: translate3d(-50%,-5px,0);
    -ms-transform: translate3d(-50%,-5px,0);
    transform: translate3d(-50%,-5px,0);
  }

  100% {
    -webkit-transform: translate3d(-50%,5px,0);
    -moz-transform: translate3d(-50%,5px,0);
    -o-transform: translate3d(-50%,5px,0);
    -ms-transform: translate3d(-50%,5px,0);
    transform: translate3d(-50%,5px,0);
  }
}

@-o-keyframes float-scroll-pointer {
  0% {
    -webkit-transform: translate3d(-50%,-5px,0);
    -moz-transform: translate3d(-50%,-5px,0);
    -o-transform: translate3d(-50%,-5px,0);
    -ms-transform: translate3d(-50%,-5px,0);
    transform: translate3d(-50%,-5px,0);
  }

  100% {
    -webkit-transform: translate3d(-50%,5px,0);
    -moz-transform: translate3d(-50%,5px,0);
    -o-transform: translate3d(-50%,5px,0);
    -ms-transform: translate3d(-50%,5px,0);
    transform: translate3d(-50%,5px,0);
  }
}

@keyframes float-scroll-pointer {
  0% {
    -webkit-transform: translate3d(-50%,-5px,0);
    -moz-transform: translate3d(-50%,-5px,0);
    -o-transform: translate3d(-50%,-5px,0);
    -ms-transform: translate3d(-50%,-5px,0);
    transform: translate3d(-50%,-5px,0);
  }

  100% {
    -webkit-transform: translate3d(-50%,5px,0);
    -moz-transform: translate3d(-50%,5px,0);
    -o-transform: translate3d(-50%,5px,0);
    -ms-transform: translate3d(-50%,5px,0);
    transform: translate3d(-50%,5px,0);
  }
}
