.center-vertical-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wedding-home {
  height: 100vh;
  background-color: lightgreen;
}

.wedding-home-content {
  position: relative;
}

.wedding-logo {
  max-height: 50vh;
  display: block;
}

.wedding-about-us {
  height: 100vh;
  background-color: lightcoral;
}

