.center-vertical-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wedding-home {
  height: 100vh;
  background-color: lightgoldenrodyellow;
}

.wedding-home-content {
  position: relative;
  text-align: center;
}

.wedding-logo {
  max-height: 50vh;
  display: block;
}

.wedding-about-us {
  height: 100vh;
  background-color: lightcoral;
}

.font-1 {
  font-family: "Just Another Hand", serif;
}

.font-large {
  font-size: 56px;
}

.font-medium {
  font-size: 38px;
}