.wedding-center-vertical-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.wedding-fullscreen {
  min-height: 100vh; }

@-moz-keyframes float-scroll-pointer {
  0% {
    -webkit-transform: translate3d(-50%, -5px, 0);
    -moz-transform: translate3d(-50%, -5px, 0);
    -o-transform: translate3d(-50%, -5px, 0);
    -ms-transform: translate3d(-50%, -5px, 0);
    transform: translate3d(-50%, -5px, 0); }
  100% {
    -webkit-transform: translate3d(-50%, 5px, 0);
    -moz-transform: translate3d(-50%, 5px, 0);
    -o-transform: translate3d(-50%, 5px, 0);
    -ms-transform: translate3d(-50%, 5px, 0);
    transform: translate3d(-50%, 5px, 0); } }
@-webkit-keyframes float-scroll-pointer {
  0% {
    -webkit-transform: translate3d(-50%, -5px, 0);
    -moz-transform: translate3d(-50%, -5px, 0);
    -o-transform: translate3d(-50%, -5px, 0);
    -ms-transform: translate3d(-50%, -5px, 0);
    transform: translate3d(-50%, -5px, 0); }
  100% {
    -webkit-transform: translate3d(-50%, 5px, 0);
    -moz-transform: translate3d(-50%, 5px, 0);
    -o-transform: translate3d(-50%, 5px, 0);
    -ms-transform: translate3d(-50%, 5px, 0);
    transform: translate3d(-50%, 5px, 0); } }
@-o-keyframes float-scroll-pointer {
  0% {
    -webkit-transform: translate3d(-50%, -5px, 0);
    -moz-transform: translate3d(-50%, -5px, 0);
    -o-transform: translate3d(-50%, -5px, 0);
    -ms-transform: translate3d(-50%, -5px, 0);
    transform: translate3d(-50%, -5px, 0); }
  100% {
    -webkit-transform: translate3d(-50%, 5px, 0);
    -moz-transform: translate3d(-50%, 5px, 0);
    -o-transform: translate3d(-50%, 5px, 0);
    -ms-transform: translate3d(-50%, 5px, 0);
    transform: translate3d(-50%, 5px, 0); } }
@keyframes float-scroll-pointer {
  0% {
    -webkit-transform: translate3d(-50%, -5px, 0);
    -moz-transform: translate3d(-50%, -5px, 0);
    -o-transform: translate3d(-50%, -5px, 0);
    -ms-transform: translate3d(-50%, -5px, 0);
    transform: translate3d(-50%, -5px, 0); }
  100% {
    -webkit-transform: translate3d(-50%, 5px, 0);
    -moz-transform: translate3d(-50%, 5px, 0);
    -o-transform: translate3d(-50%, 5px, 0);
    -ms-transform: translate3d(-50%, 5px, 0);
    transform: translate3d(-50%, 5px, 0); } }
body {
  font-family: Garineldo;
  font-style: italic;
  background: #fbffe8; }

.navbar-fixed-top {
  -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1); }

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: black; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: #fbffe8;
  color: #566900; }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: grey; }

.navbar-brand {
  font-size: 28px; }

@font-face {
  font-family: 'Italianno';
  src: url("fonts/Italianno.ttf.woff") format("woff"), url("fonts/Italianno.ttf.svg#Italianno") format("svg"), url("fonts/Italianno.ttf.eot"), url("fonts/Italianno.ttf"), url("fonts/Italianno.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Garineldo';
  src: url("fonts/Garineldo.woff2") format("woff2"), url("fonts/Garineldo.woff") format("woff"), url("fonts/Garineldo.svg#Garineldo") format("svg"), url("fonts/Garineldo.eot"), url("fonts/Garineldo.ttf"), url("fonts/Garineldo.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
.wedding-navbar {
  font-family: Italianno;
  background: #fbffe8;
  border: none;
  border-radius: 0;
  color: black;
  transition: box-shadow 0.2s linear; }

#navbar {
  padding-left: 0;
  padding-right: 0;
  font-size: 24px; }

.wedding-language-flag {
  max-height: 15px;
  padding-bottom: 3px; }

.wedding-home {
  background: #70a33c url("/img/wedding-background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.wedding-home-overlay {
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.1;
  top: 0; }
  @media (max-width: 767px) {
    .wedding-home-overlay {
      opacity: 0.3; } }

.wedding-home-content {
  position: relative;
  text-align: center;
  z-index: 200; }

.wedding-logo {
  display: block;
  max-width: 90vh; }
  @media (max-width: 767px) {
    .wedding-logo {
      max-width: 40vh; } }

.wedding-home-heading {
  font-family: Italianno;
  font-size: 72px; }

.wedding-home-subheading {
  font-family: Italianno;
  font-size: 42px; }

.wedding-keep-scrolling {
  z-index: 200;
  position: absolute;
  left: 50%;
  bottom: 15px;
  background-color: #fbffe8;
  color: #566900;
  padding: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari*/
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-animation: float-scroll-pointer 0.7s infinite alternate;
  -moz-animation: float-scroll-pointer 0.7s infinite alternate;
  -o-animation: float-scroll-pointer 0.7s infinite alternate;
  -ms-animation: float-scroll-pointer 0.7s infinite alternate;
  animation: float-scroll-pointer 0.7s infinite alternate; }
  .wedding-keep-scrolling:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px #fbffe8;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent; }

.wedding-invitation {
  color: black; }

.wedding-invitation-header {
  font-family: Italianno;
  text-align: center;
  font-size: 46px;
  margin-bottom: 10vh; }

.wedding-invitation-text {
  font-size: 18px;
  max-width: 800px; }

.wedding-invitation-greeting-placeholder {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10vh; }

.wedding-invitation-image {
  max-height: 30vh;
  margin-top: 10vh; }

.wedding-church-map-container {
  padding: 10px; }

.wedding-church-map {
  position: relative;
  border: 0;
  height: 50vh;
  width: 90vw; }

.wedding-church-logo {
  max-width: 100px;
  margin-bottom: 50px; }

#wedding-main-container {
  background: #fbffe8;
  background-size: 100%;
  position: relative;
  padding: 100px;
  overflow: hidden; }

.wedding-side-decoration, #wedding-left-decoration, #wedding-right-decoration {
  background-image: url("/img/side-decoration.svg");
  background-size: contain;
  height: 100%;
  width: 100px;
  position: absolute; }

#wedding-left-decoration {
  left: 10px; }

#wedding-right-decoration {
  right: 10px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

#wedding-bottom-decoration {
  background-image: url("/img/bottom-decoration.svg");
  background-size: contain;
  width: 358px;
  height: 300px;
  position: absolute;
  left: 50%;
  margin-left: -179px; }

.wedding-no-navbar {
  margin-top: 70px; }

/*# sourceMappingURL=wedding.css.map */
