<div class="wedding-home">
  <div class="container">
    <div class="row">
      <div class="wedding-home-content">
        <div class="center-vertical-horizontal">
        <img class="wedding-logo" src="img/wedding-logo.svg" alt="wedding-logo">
        <span>fshgjj t tghrs rthrh</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wedding-about-us">
  <div class="container"></div>
</div>