<div class="wedding-home center-vertical-horizontal">
  <div class="container center-vertical-horizontal">
    <div class="wedding-home-content center-vertical-horizontal">
      <img class="wedding-logo " src="img/wedding-logo.svg" alt="wedding-logo">
      <h1 class="font-1 font-large">{{titleHome}}</h1>
      <span class="font-1 font-medium">{{timeAndPlace}}</span>
    </div>
  </div>
</div>

<div class="wedding-about-us">
  <div class="container"></div>
</div>