{{>navbar-small}}
{{>home}}
{{>navbar}}
<div id="wedding-main-container">
  <div id="wedding-left-decoration"></div>
  <div id="wedding-right-decoration"></div>
  {{>invitation}}
  {{>church}}
  {{>party}}
</div>
<div id="wedding-bottom-decoration"></div>
<!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com"-->
                                                                                        <!--title="Flaticon">www.flaticon.com</a>-->
  <!--is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC-->
    <!--3.0 BY</a></div>-->
<!--<div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>-->
