{{>navbar-small}}
{{>home}}
{{>navbar}}
<div id="wedding-main-container">
  <div id="wedding-left-decoration" class="hidden-xs"></div>
  <div id="wedding-right-decoration" class="hidden-xs"></div>
  {{>invitation}}
  {{>church}}
  {{>party}}
</div>
<div id="wedding-bottom-decoration"></div>
<!--Church icon reference:-->
<!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com"-->
                                                                                        <!--title="Flaticon">www.flaticon.com</a>-->
  <!--is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC-->
    <!--3.0 BY</a></div>-->
<!--Pin icon reference: -->
<!--<div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
<!--Clock icon reference:-->
<!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
<!--Car icon reference:-->
<!--<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->