@font-face {
  font-family: 'Garineldo';
  src:  url('fonts/Garineldono01.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

td {
  font-family: Garineldo, serif;
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 1cm;
}

img {
  margin-left: 2cm;
  height: 30mm;
  width: 30mm;
}