<!DOCTYPE html>
<html lang="hu">
<head>
  <title>{{locale.title}}</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style/login.css">

  <script src="/vendor/jquery/jquery-3.1.1.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/login.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
