<!DOCTYPE html>
<html lang="hu">
<head>
  <title>{{locale.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="style/style.css">
  <!--<link rel="stylesheet" type="text/css" href="vendor/github-markdown.css">-->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atelier-estuary-light.min.css">

  <script src="vendor/jquery/jquery-3.1.1.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="vendor/smoothscroll.js"></script>
  <script src="vendor/lodash.min.js"></script>
  <script src="js/index.js"></script>
</head>
<body>
{{{body}}}
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</body>
</html>
