<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wedding of Anna and Tamás</title>
  <link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.min.css">
  <script src="/public/vendor/jquery/jquery-3.1.1.min.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
