@import "variables";

.wedding-church {
  background: $color-china-ivory;
}

.wedding-church-map-container {
  padding: 10px;
}

.wedding-church-map {
  position: relative;
  border: 0;
  height: 50vh;
  width: 90vw;
}

.wedding-church-logo {
  max-width: 100px;
  margin-bottom: 50px;
}

.wedding-church-code {
  width: 70%;
}
