.wedding-contact {
  padding: 100px 0;
}

.wedding-contact-container {
  display: flex;
  flex-direction: row;
  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.wedding-contact-column {
  margin: 0 40px;
  text-align: center;
  @media (max-width: 767px) {
    margin: 10px 0;
  }
}

.wedding-contact-photo {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}