@font-face {
  font-family: 'Italianno';
  src:  url('fonts/Italianno.ttf.woff') format('woff'),
  url('fonts/Italianno.ttf.svg#Italianno') format('svg'),
  url('fonts/Italianno.ttf.eot'),
  url('fonts/Italianno.ttf'),
  url('fonts/Italianno.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Garineldo';
  src:  url('fonts/Garineldo.woff2') format('woff2'),
  url('fonts/Garineldo.woff') format('woff'),
  url('fonts/Garineldo.svg#Garineldo') format('svg'),
  url('fonts/Garineldo.eot'),
  url('fonts/Garineldo.ttf'),
  url('fonts/Garineldo.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
