@font-face {
  font-family: 'Just Another Hand';
  src:  url('fonts/Just-Another-Hand.ttf.svg') format('woff'),
  url('fonts/Just-Another-Hand.ttf.svg#Just-Another-Hand') format('svg'),
  url('fonts/Just-Another-Hand.ttf.eot'),
  url('fonts/Just-Another-Hand.ttf'),
  url('fonts/Just-Another-Hand.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}