@import "variables";

$link-color: darken($color-china-ivory, 30%);
$text-size: 16px;

.wedding-footer {
  background: $color-black;
  border-top: 3px solid $color-sushi;
  padding: 10px;
  font-size: $text-size;
  color: $color-white;
  font-weight: bold;

  a {
    color: $link-color;
    &:focus {
      color: $link-color;
    }
    &:hover {
      color: $link-color;
    }

    &:visited {
      color: $link-color;
    }

    &:active {
      color: $link-color;
    }
  }
}

.wedding-footer-icon {
  height: $text-size;
  margin-bottom: 6px;
  margin-left: 2px;
  &:focus {
    color: $link-color;
  }
  &:hover {
    color: $link-color;
  }

  &:visited {
    color: $link-color;
  }

  &:active {
    color: $link-color;
  }
}