@import "variables";

.wedding-home {
  background: $color-sushi url('../img/wedding-background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wedding-home-overlay {
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.1;
  top: 0;
}

.wedding-home-content {
  position: relative;
  text-align: center;
  z-index: 200;
}

@media (max-width: 767px) {
  .wedding-logo {
    max-width: 40vh;
  }

  .wedding-home-overlay {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .wedding-logo {
    max-width: 90vh;
  }

  .wedding-home-overlay {
    opacity: 0.1;
  }
}

.wedding-logo {
  display: block;
}


.wedding-home-heading {
  font-family: $heading-font;
  font-size: 72px;
}

.wedding-home-subheading {
  font-family: $heading-font;
  font-size: 42px;
}

.wedding-keep-scrolling {
  z-index: 200;
  position: absolute;
  left: 50%;
  bottom: 15px;
  background-color: $color-china-ivory;
  color: $grey;
  padding: 10px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari*/
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-animation: float-scroll-pointer 0.7s infinite alternate;
  -moz-animation: float-scroll-pointer 0.7s infinite alternate;
  -o-animation: float-scroll-pointer 0.7s infinite alternate;
  -ms-animation: float-scroll-pointer 0.7s infinite alternate;
  animation: float-scroll-pointer 0.7s infinite alternate;

  &:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 10px $color-china-ivory;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
  }
}