
.wedding-invitation {
  background: #fbffe8;
  color: black;
  font-family: cursive;
}

.wedding-invitation-no-navbar {
  padding-top: 70px;
}

.wedding-invitation-container {
}

.wedding-invitation-header {
  text-align: center;
  font-size: 46px;
  margin-bottom: 10vh;
}

.wedding-invitation-text {
  font-size: 18px;
}

.wedding-invitation-greeting-placeholder {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10vh;
}

.wedding-invitation-image {
  max-height: 30vh;
  margin-top: 10vh;
}