@import "variables";

.wedding-invitation {
  background: $color-china-ivory;
  color: $color-black;
  font-family: cursive;
}

.wedding-invitation-no-navbar {
  padding-top: 70px;
}

.wedding-invitation-container {
}

.wedding-invitation-header {
  font-family: $heading-font;
  text-align: center;
  font-size: 46px;
  margin-bottom: 10vh;
}

.wedding-invitation-text {
  font-size: 18px;
}

.wedding-invitation-greeting-placeholder {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10vh;
}

.wedding-invitation-image {
  max-height: 30vh;
  margin-top: 10vh;
}