@import "variables";

.wedding-invitation {
  color: $color-black;
}

.wedding-invitation-container {
}

.wedding-invitation-header {
  font-family: $heading-font;
  text-align: center;
  font-size: 46px;
  margin-top: 120px;
  margin-bottom: 80px;
}

.wedding-invitation-text {
  max-width: 800px;
}
