@import "fonts";
@import "variables";
.wedding-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#wedding-main-container {
  background: $color-china-ivory;
  background-size: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#wedding-content-container {
  font-size: 24px;
  position: relative;
  overflow: hidden;
  padding: 0 100px;
  @media (max-width: 767px) {
    padding: 0 25px;
  }
}

.wedding-side-decoration {
  background-image: url('/img/side-decoration.svg');
  background-size: contain;
  width: 100px;
}

#wedding-left-decoration {
  @extend .wedding-side-decoration;
  left: 10px;
}

#wedding-right-decoration {
  @extend .wedding-side-decoration;
  right: 10px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#wedding-bottom-decoration {
  background-image: url('/img/bottom-decoration.svg');
  background-size: contain;
  width: 358px;
  height: 300px;
  position: absolute;
  left: 50%;
  margin-left: -179px;
}

.wedding-no-navbar {
  margin-top: 70px;
}


.wedding-section-logo {
  max-width: 100px;
  margin-bottom: 50px;
}

.wedding-info-icon {
  width: 32px
}

.wedding-map {
  position: relative;
  border: 0;
  height: 450px;
  width: 450px;
  left: 50%;
  margin-left: -225px;
}
