@import "fonts";
@import "variables";

.wedding-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.wedding-main-container {
  background: $color-china-ivory;
  background-size: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.wedding-content-container {
  font-size: 24px;
  position: relative;
  overflow: hidden;
  padding: 0 100px;
  @media (max-width: 767px) {
    padding: 0 25px;
  }
}

.wedding-side-decoration {
  background-image: url('/img/side-decoration.svg');
  background-size: contain;
  width: 100px;
  margin-top: 70px;
}

.wedding-left-decoration {
  @extend .wedding-side-decoration;
  left: 10px;
}

.wedding-right-decoration {
  @extend .wedding-side-decoration;
  right: 10px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.wedding-bottom-decoration {
  width: 358px;
  position: relative;
  bottom: -15px;
  max-width: 100vw;
}
.wedding-base-decoration {
  background: url('/img/base-deocration.svg');
  width: 100%;
  height: 25px;
  background-size: contain;
}

.wedding-no-navbar {
  margin-top: 70px;
}


.wedding-section-logo {
  max-height: 100px;
  margin-bottom: 50px;
}

.wedding-info-icon {
  width: 32px
}

.wedding-map {
  border: 0;
  height: 450px;
  width: 450px;
  @media (max-width: 767px) {
    width: auto;
  }
}

.wedding-bold {
  font-weight: bold;
}

.wedding-separator {
  width: 100px;
  height: 50px;
  @media (min-height: 600px) {
    margin-top: 50px;
  }

  @media (min-height: 750px) {
    margin-top: 100px;
  }

  @media (min-height: 900px) {
    margin-top: 150px;
  }
}

.wedding-img-link {
  &:focus {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}

.wedding-line {
  display: inline-block;
}