@import "variables";

.wedding-navbar {
  font-family: $heading-font;
  background: $color-china-ivory;
  border: none;
  border-radius: 0;
  color: black;
  transition: box-shadow 0.2s linear;
}

#navbar {
  padding-left: 0;
  padding-right: 0;
  font-size: 24px;
}

.wedding-language-flag {
  max-height: 15px;
  padding-bottom: 3px;
}