$heading-font: "Just Another Hand";
$main-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

// names from http://chir.ag/projects/name-that-color
$color-china-ivory: #fbffe8; // main background
$color-sushi: #70a33c; // placeholder for home image
$avocado: #82915b; // selected navbar link
$grey: grey;