$heading-font: Italianno;
$main-font: Garineldo;

// names from http://chir.ag/projects/name-that-color
$color-china-ivory: #fbffe8; // main background
$color-verdun-green: darken($color-china-ivory, 75%); // selected navbar link
$color-sushi: #70a33c; // placeholder for home image
$color-grey: grey; // navbar link hover
$color-black: black;
$color-white: white;
