@import "main";
@import "home";

.wedding-login-container {
  @extend .wedding-center;
  padding-top: 30px;
}

.wedding-login-label {
  display: block;
  max-width: 600px;
}

.wedding-login-input {
  max-width: 200px;
}
