@import "fonts";
@import "main";
@import "home";
@import "variables";

.wedding-login-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.wedding-login-content {
  @extend .wedding-center;
  padding-top: 30px;
}

.wedding-login-label {
  display: block;
  max-width: 600px;
  font-family: $main-font;
  font-weight: bold;
  font-size: x-large;
}

.wedding-login-input {
  max-width: 200px;
}

.wedding-login-form-control {
  font-family: sans-serif;
}

.wedding-language-flag {
  max-height: 15px;
  padding-bottom: 3px;
}

.wedding-login-lang {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 101;
}