@import "reboot";
@import "bootstrap-reboot";
@import "fonts";
@import "variables";
@import "navbar";
@import "home";
@import "invitation";
@import "church";
@import "animations";

.wedding-center-vertical-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wedding-fullscreen {
  min-height: 100vh;
}
