@import "main";
@import "animations";
@import "reboot";
@import "bootstrap-reboot";
@import "fonts";
@import "variables";
@import "navbar";
@import "home";
@import "invitation";
@import "church";
@import "party";

#wedding-main-container {
  background: $color-china-ivory url('/img/dna-frame.png');
  background-size: 100%;
  padding: 100px;
}

.wedding-no-navbar {
  margin-top: 70px;
}
