@import "main";
@import "animations";
@import "reboot";
@import "bootstrap-reboot";
@import "fonts";
@import "variables";
@import "navbar";
@import "home";
@import "invitation";
@import "church";
@import "party";

#wedding-main-container {
  background: $color-china-ivory;
  background-size: 100%;
  padding: 100px;
}

.wedding-top-decoration {
  background-image: url('/img/dna.svg');
  width: 100%;
  height: 100px;
}

.wedding-no-navbar {
  margin-top: 70px;
}
