<div id="church" class="wedding-church wedding-fullscreen">
  <div class="container wedding-center-vertical-horizontal">
    <img class="wedding-church-logo" src="/img/church.svg"/>
    {{{locale.churchData}}}
    <div class="wedding-church-map-container">
      <iframe class="wedding-church-map"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10775.57305338831!2d19.081633!3d47.530941!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaf705795f24073d5!2sSzent+L%C3%A1szl%C3%B3+templom!5e0!3m2!1sen!2shu!4v1485268634059"
              allowfullscreen></iframe>
    </div>

  </div>
</div>
