<section id="church" class="wedding-church wedding-bold wedding-section">
  <div class="wedding-center">
    <img class="wedding-section-logo" src="/img/church.svg"/>
    <img class="wedding-info-icon" src="/img/place.svg">
    <a href="https://www.google.com/maps?ll=47.530941,19.081633&z=14&t=m&hl=en-US&gl=HU&mapclient=embed&cid=12641700455555036117">
      {{locale.churchPlace}}
    </a>
    <img class="wedding-info-icon" src="/img/time.svg">
    <p>{{locale.churchTime}}</p>
    <img class="wedding-info-icon" src="/img/parking.svg">
    <p>{{locale.churchParking}}</p>
    <div class="wedding-church-map-container wedding-center">
      <iframe class="wedding-map"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10775.57305338831!2d19.081633!3d47.530941!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaf705795f24073d5!2sSzent+L%C3%A1szl%C3%B3+templom!5e0!3m2!1sen!2shu!4v1485268634059"
              allowfullscreen></iframe>
    </div>

  </div>
</section>
