<section id="footer" class="wedding-footer">
  <div>
    Site created by Tamás Kadlecsik
    <a class="wedding-footer-icon wedding-img-link" href="https://github.com/Shadowbeetle" title="Shadowbeetle @ GitHub" target="_blank">
      <img src="/img/github.png" class="wedding-footer-icon">
    </a>
    <a href="https://github.com/Shadowbeetle" title="Shadowbeetle @ GitHub" target="_blank">
      @Shadowbeetle
    </a>
  </div>
  <div class="wedding-footer-site-artwork">
    Artwork created by Anna Manzéger
    <a class="wedding-footer-icon wedding-img-link" href="https://www.instagram.com/manna_bee/" title="manna_bee @ Instagram" target="_blank">
      <img src="/img/instagram.png" class="wedding-footer-icon">
    </a>
    <a href="https://www.instagram.com/manna_bee/" title="manna_bee @ Instagram" target="_blank">
      @manna_bee
    </a>
  </div>
  <div>
    Icons made by
    <a href="http://www.freepik.com" title="Freepik">
      Freepik
    </a>
    from
    <a href="http://www.flaticon.com" title="Flaticon">
      www.flaticon.com
    </a>
    is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
      CC3.0 BY
    </a>
  </div>
</section>