<section id="footer" class="wedding-footer container-fluid">
  <div class="row">
    <div class="col-md-6">
      <span class="wedding-line">Site created by Tamás Kadlecsik</span>
      <span class="wedding-line">
      <a class="wedding-footer-icon wedding-img-link" href="https://github.com/Shadowbeetle"
         title="Shadowbeetle @ GitHub"
         target="_blank">
        <img src="/img/github.png" class="wedding-footer-icon">
      </a>
      <a href="https://github.com/Shadowbeetle" title="Shadowbeetle @ GitHub" target="_blank">
        @Shadowbeetle
      </a>
    </span>
    </div>
    <div class="col-md-6">
      <span class="wedding-line">Artwork created by Anna Manzéger</span>
      <span class="wedding-line">
      <a class="wedding-footer-icon wedding-img-link" href="https://www.instagram.com/manna_bee/"
         title="manna_bee @ Instagram" target="_blank">
        <img src="/img/instagram.png" class="wedding-footer-icon">
      </a>
      <a href="https://www.instagram.com/manna_bee/" title="manna_bee @ Instagram" target="_blank">
        @manna_bee
      </a>
    </span>
      <span class="wedding-line">& Lilla Chikhi</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="/img/place-white.svg" class="wedding-footer-icon wedding-footer-flaticon">
      Icon made by
      <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">
        Madebyoliver
      </a>
    </div>
    <!--Clock icon reference:-->
    <div class="col-md-6">
      <img src="/img/time-white.svg" class="wedding-footer-icon wedding-footer-flaticon">
      <img src="/img/parking-white.svg" class="wedding-footer-icon wedding-footer-flaticon">
      Icons made by
      <a href="http://www.freepik.com" title="Freepik">
        Freepik
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="/img/phone-white.svg" class="wedding-footer-icon wedding-footer-flaticon">
      Icon made by
      <a href="http://www.flaticon.com/authors/zurb" title="Zurb">
        Zurb
      </a>
    </div>
    <div class="col-md-6">
      <img src="/img/mail-white.svg" class="wedding-footer-icon wedding-footer-flaticon">
      Icon made by
      <a href="http://www.flaticon.com/authors/yannick" title="Yannick">
        Yannick
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      All referenced icons are from
      <a href="http://www.flaticon.com" title="Flaticon">
        www.flaticon.com
      </a>
      and are licensed by
      <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">
        CC 3.0 BY
      </a>
    </div>
  </div>
</section>
