<div id="home" class="wedding-home wedding-center-vertical-horizontal wedding-fullscreen">
  <div class="container wedding-center-vertical-horizontal">
    <div class="wedding-home-overlay"></div>
    <div class="wedding-home-content wedding-center-vertical-horizontal">
      <div>
        <img class="wedding-logo " src="img/wedding-logo.svg" alt="wedding-logo">
      </div>
      <h1 class="wedding-font-1 wedding-font-large">{{locale.titleHome}}</h1>
      <span class="wedding-font-1 wedding-font-medium">{{locale.timeAndPlace}}</span>
    </div>
  </div>
  <div class="wedding-keep-scrolling">
    {{locale.keepScrolling}}
  </div>
</div>