<section id="home" class="wedding-home wedding-center" style="min-height: 100vh">
  <div class="container wedding-center">
    <div class="wedding-home-overlay"></div>
    <div class="wedding-home-content wedding-center">
      {{#if loggedIn}}
        <span class="wedding-home-subheading">{{countdown}}</span>
        <div>
          <img class="wedding-logo " src="/img/wedding-logo.svg" alt="wedding-logo">
        </div>
      {{/if}}
      <h1 class="wedding-home-heading">{{locale.titleHome}}</h1>
      <span class="wedding-home-subheading">{{locale.timeAndPlace}}</span>
      {{#unless loggedIn}}
        {{>login-control}}
      {{/unless}}
    </div>
  </div>
  {{#if loggedIn}}
    <div class="wedding-keep-scrolling hidden-xs">
      {{locale.keepScrolling}}
    </div>
  {{/if}}
</section>
