<div id="invitation" class="wedding-invitation fullscreen">
  <div class="container">
    {{#if shouldGreet}}
      <span style="font-size: 40px"><strong>{{greeting}}</strong></span>
    {{/if}}
  </div>
</div>