<section id="invitation" class="wedding-invitation wedding-center wedding-section">
  <div class="wedding-invitation-container wedding-center">
    <img class="wedding-section-logo" src="/img/invitation.svg"/>
    <h1 class="wedding-invitation-header">{{locale.addressing}} {{greeting}}{{locale.addressingTerminator}}</h1>
    <p class="wedding-invitation-text">{{locale.invitationText}}</p>
  </div>
  <img src="/img/separator.png" class="wedding-separator visible-lg-inline-block">
</section>
