<div id="invitation" class="container wedding-invitation">
  {{>navbar}}
  <div class="container wedding-invitation-container wedding-center-vertical-horizontal">
    <h1 class="wedding-invitation-header">{{locale.addressing}} {{greeting}}{{locale.addressingTerminator}}</h1>
    <p class="wedding-invitation-text">{{locale.invitationText}}</p>
  </div>
</div>
