<section id="invitation" class="wedding-invitation wedding-center" style="min-height: 100vh">
  <div class="wedding-invitation-container wedding-center">
    <h1 class="wedding-invitation-header">{{locale.addressing}} {{greeting}}{{locale.addressingTerminator}}</h1>
    <p class="wedding-invitation-text">{{locale.invitationText}}</p>
  </div>
  <img src="/img/separator.png" class="wedding-separator">
</section>
