<section id="party" class="wedding-party wedding-bold wedding-section">
  <div class="wedding-center">
    <img class="wedding-section-logo" src="/img/wedding.svg"/>
    <img class="wedding-info-icon" src="/img/place.svg">
    <a href="https://www.google.com/maps/dir/Szent+L%C3%A1szl%C3%B3+templom,+Budapest,+B%C3%A9ke+t%C3%A9r+1%2Fa,+1139+Hungary/Haj%C3%B3gy%C3%A1ri-szigeti+p%C3%A1lya,+Budapest,+1033+Hungary/@47.534521,19.086407,12z/data=!4m14!4m13!1m5!1m1!1s0x4741db9699a9a635:0xaf705795f24073d5!2m2!1d19.081633!2d47.530941!1m5!1m1!1s0x4741d97e141a8855:0x8731e2f1e1b6de9e!2m2!1d19.0591194!2d47.5543591!3e0?hl=en-US">
      {{locale.partyPlace}}
    </a>
    <img class="wedding-info-icon" src="/img/time.svg">
    <p>{{locale.partyTime}}</p>
    <img class="wedding-info-icon" src="/img/parking.svg">
    <p>{{locale.partyParking}}</p>
    <div class="wedding-church-map-container wedding-center">
      <iframe class="wedding-map"
              src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d21546.993468366818!2d19.044751433129075!3d47.541045688218176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x4741db9699a9a635%3A0xaf705795f24073d5!2sSzent+L%C3%A1szl%C3%B3+templom%2C+Budapest%2C+Hungary!3m2!1d47.530941!2d19.081633!4m5!1s0x4741d97e141a8855%3A0x8731e2f1e1b6de9e!2sHaj%C3%B3gy%C3%A1ri-szigeti+p%C3%A1lya%2C+Budapest%2C+1033+Hungary!3m2!1d47.5543591!2d19.0591194!5e0!3m2!1sen!2shu!4v1486495375523"
              allowfullscreen></iframe>
    </div>

  </div>
</section>
